/* ------------------------------------------------------------------------------------- */
@media (min-width: 748px){
  .final .ques-container{
    margin-top: 30vmin;
  }
  .overlay nav{
    margin: 3vmin;
  }
}

@media (min-width: 748px) and (max-width: 1271){

  .ans-container{
    flex-direction: column;
    margin: 6vh;
  }
  header .score{
    position: absolute;
    right: 10vmin !important;
    margin: 0 10vmin;

  }
  header .reset{
    position: absolute;
    left: 10vmin !important;
    padding: 0 10vmin;
  }
}

/* ###############################  END  ############################### */

@media screen and (min-width: 747px) and (max-width: 925px){
  .date-score-holder{
    /* display: table-cell; */
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 400px;
  }
}

@media screen and (max-width: 747px){
  body{
    overflow: auto;
  }
    /* ------------------ score board ------------- */
  .board .name-container{
    width: 60vmin;
    margin-bottom: 4vmin;
    text-align: center;
  }
  .board .name-container h2{
    margin: auto auto;
  }
  .board .score-container{
    margin: 0 auto;
 
    min-width: 300px;
    width: 300px;
  }
  .date-score-holder{
    /* display: table-cell; */
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    min-width: 280px;
    width: 280px;
  }
  .date-score-holder .date-display{

  }
  .date-score-holder .score-display{
    margin: 0 auto;

  }
  .overlay-score nav{
    flex-direction: column;
    margin: 5vmax 0;
  }
  /* ------------------ header ------------- */
  header h2{
    font-size: 5vmin;
  }
  header .score{
    right: 10vw;
  }
  header .reset{
    left: 10vw;
  }
  /* ------------------ qus------------- */

  .qus-container{
    margin-top: 10vmax;
    margin-bottom: 20vmax;
  }
/* ------------------ ans ------------- */
  .ans-container{
    flex-direction: column;
    width: 70vw;
    margin-top: 10vmin;
    margin-bottom: 10vmin
  }
  .ans{
    width: 70vw;
    padding: 0;
    height: 5vmin;
  }
}
/* ###############################  END  ############################### */