/* ------------------------------------------------------------------------------------- */
@media (min-width: 748px) and (max-width: 1271){

  .ans-container{
    flex-direction: column;
    margin: 6vh;
  }
  header .score{
    position: absolute;
    right: 10vmin !important;
    margin: 0 10vmin;

  }
  header .reset{
    position: absolute;
    left: 10vmin !important;
    padding: 0 10vmin;
  }
}

/* ###############################  END  ############################### */

@media screen and (max-width: 747px){
  body{
    overflow: auto;
  }
  /* ------------------ header ------------- */
  header h2{
    font-size: 5vmin;
  }
  header .score{
    right: 10vw;
  }
  header .reset{
    left: 10vw;
  }
  /* ------------------ qus------------- */

  .qus-container{
    margin-top: 10vmax;
    margin-bottom: 20vmax;
  }
/* ------------------ ans ------------- */
  .ans-container{
    flex-direction: column;
    width: 70vw;
    margin-top: 10vmin;
    margin-bottom: 10vmin
  }
  .ans{
    width: 70vw;
    padding: 0;
    height: 5vmin;
  }
}
/* ###############################  END  ############################### */