body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  position: relative;
  color: grey;
  margin: 0;
  padding: 0;
}
::placeholder {
  color: rgb(168, 168, 168);
  opacity: 1; /* Firefox */
  text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:  rgb(168, 168, 168);
 text-align: center;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(168, 168, 168);
 text-align: center;
}
/* ---------------------------------- Score board -------------------------------*/
.overlay-score{
  z-index: 50;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  display: none;
  opacity: 0.1;
}
.overlay-score .save-score{
  -webkit-transform: translateY(10vmin);
  transform: translateY(10vmin);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}
.board{
  position: relative;
  width: 60vmax;
  height: 60vh;
  border-radius: 10px;
  overflow-x: hidden;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);

  /* overflow-y: scroll; */
}
::-webkit-scrollbar{
  
}
::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 10px;
}
.board .name-container{
  height: 10vmin;
  width: 60vmax;
  margin-bottom: 5vmin;
}
.board .name-container h2{
  display: block;
  color: white;
  background: grey;
  font-weight: 100;
  position: absolute;
  left: 0;
  right: 0;
}
.board .score-container{
  display: block;
  justify-content: space-around;
  align-items: center;
  width: 70vmin;
  height: 60vh;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  background: none;
}
::-webkit-scrollbar-thumb{
  background: whitesmoke;
}
.date-score-holder{
  /* display: table-cell; */
  left: 0;
  right: 0;
  height: 7vmin;
  margin: 4vmin auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3vmin;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
  width: 70vmin;
}
.date-score-holder .date-display{
  display: inline-block;
  text-align: left;
}
.date-score-holder .score-display{
  text-align: center;
  display: inline-block;
  padding: 1vmin;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  max-width: 20vmin;
  width: 10vmin;
  margin: 0 10vmin;
}

.overlay-score nav{
  width: 50vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vmin;
  align-items: center;
}
.overlay-score nav input{
  width: 30vmax;
  height: 5vmin;
  font-size: 3vmin;
  outline:none;
  text-align: center;
  color: darkgrey;
  margin: 3vmax;
  border-radius: 10px;
}

.overlay-score nav h3{
margin: 0 10vh;
cursor: pointer;
}
.overlay-score nav h3:hover{
  color: rgb(160, 160, 160);
}
/* ---------------------------------- overlay -------------------------------*/
.zero-opacity{
  opacity: 0;
}
.overlay{
  z-index: 49;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  cursor: pointer;
}
.overlay header{
  -webkit-transform: translateY(30vh);
  transform: translateY(30vh);
  z-index: 101;
}
.overlay header h1{
  font-size: 7vmin;
  width: 100vw;
  text-align: center;
  animation-fill-mode: forwards;
  animation-name: title;
  animation-duration: 4s;
}
@keyframes title{
  0% {
    opacity: 0.1; 
    -webkit-transform: translateY(-3vmin);
    -moz-transform: translateY(-3vmin);
    -o-transform: translateY(-3vmin);
    -ms-transform: translateY(-3vmin);
    transform: translateY(-3vmin);
  }
  40% {
    opacity: 1; 
    -webkit-transform: translateY(0vmin);
    -moz-transform: translateY(0vmin);
    -o-transform: translateY(0vmin);
    -ms-transform: translateY(0vmin);
    transform: translateY(0vmin);
  }
  100%{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
}
.overlay header h6{
  font-size: 3.5vmin;
  color: rgb(161, 161, 161);
  font-weight: 200;
  width: 100vw;
  text-align: center;
  animation-duration: 2s;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: description;
  animation-delay: 0.5s;
  font-weight: 100;
}
@keyframes description{
  0% {
    opacity: 0; 
    -webkit-transform: translateY(2vmin);
    -moz-transform: translateY(2vmin);
    -o-transform: translateY(2vmin);
    -ms-transform: translateY(2vmin);
    transform: translateY(2vmin);
  }
  100% {
    opacity: 1; 
    -webkit-transform: translateY(0vmin);
    -moz-transform: translateY(0vmin);
    -o-transform: translateY(0vmin);
    -ms-transform: translateY(0vmin);
    transform: translateY(0vmin);
  }
}
.overlay p{
  position: absolute;
  bottom: 5vh;
  width: 100vw;
  text-align: center;
  font-size: 3vmin;
  font-weight: 100;
  color: grey;
  opacity: 0;
  animation-name: opa;
  animation-delay: 2.4s;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 101;
}
@keyframes opa{
  0%{opacity: .4;}
  100%{opacity: .7;}
}
/* ---------------------------------- header -------------------------------*/
header{
  margin-top: 0;
  position: relative;
}
header .reset{
  transition: all 250ms;
  -moz-transition: all 250ms;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  -ms-transition: all 250ms;
  border-radius: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  left: 20vw;
  line-height: 10vmin;
  display: inline-block;
  padding: 0 2vw;
  font-size: 3vmin;
  font-weight: 200;
}
header .reset:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: rgb(189, 192, 194);
}

header h2{
  margin-top: 0;
  padding-top:1vmin;
  height: 10vmin;
  color: grey;
  background: rgb(241, 241, 241);
  line-height: 10vmin;
  font-size: 4vmin;
}
header .score{
  font-size: 3vmin;
  position: absolute;
  right: 20vw;
  line-height: 10vmin;
  font-weight: 200;
}
header .score span:first-child{
  padding: 0 1vmin;
}

/* ---------------------------------- main body -------------------------------*/
main{
  position: relative;
  margin-top: 10vmin;
  margin-bottom: 5vmin ;
  width: 70vw;
  left: 50%;
  margin-left: -35vw;
  height: 100vh;
}

.ques-container{
  line-height: 6vmin;
  height: 20vmin;
  text-align: center;
  display: table;
  margin: 0 auto;
}
.ques-container h4{
  display: table-cell;
  margin: auto auto;
  vertical-align: middle;
}
.ans-container{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.ans{
  display: inline-block;
  flex:1;
  margin: 3vmin 5vmin;
  background: white;
  color: rgb(155, 155, 155);
  border-radius: 30px;
  padding: 1vmin 2vmin;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  transition: all 250ms ease-in;
  -moz-transition: all 250ms ease-in;
  -webkit-transition: all 250ms ease-in;
  -o-transition: all 250ms ease-in;
  -ms-transition: all 250ms ease-in;
  cursor: pointer;
  align-self: center;
}

.ans:hover{
  background: grey;
  color: white;
  -moz-transform: translateY(2vh);
  -webkit-transform: translateY(2vh);
  -o-transform: translateY(2vh);
  -ms-transform: translateY(2vh);
  transform: translateY(2vh);
}
.ans-clicked{
  background: grey !important;
  color: white !important;
}
.ans-container img{
  width: 60px;
  height: 60px;
}
/* ------------------------------- finale ------------------------------- */
.final{
  height: 26vh;
  position: relative;
  width: 70vw;
}
.final .check{
  min-height: 24vh;
  padding: 2vh 0;
  width: 70vw;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: -12vh;
  margin-left: -35vw;
  opacity: 0;
}
.final .check .explain{
  font-weight: 200;
  padding: 0 1vw;
  margin-top: 3vh;
}



